# ESP32-S3 Hardware DS & Security SDK Configuration Defaults
CONFIG_IDF_TARGET="esp32s3"

# ESP-IDF Security & DS Engine Enablement
CONFIG_ESP_SIGN_DS_PERIPHERAL=y
CONFIG_MBEDTLS_HARDWARE_RSA=y
CONFIG_MBEDTLS_HARDWARE_SHA=y
CONFIG_EFUSE_VIRTUAL=n
CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_V2_ENABLED=y
